body {
  margin: 0px;
  padding: 0px;
  background-image: url(../images/ocean_world_1920x1080.png);
  background-position: center center;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
.game {
  margin: 2% 0;
  display: flex;
  justify-content: space-around;
}
.btn-area {
  display: flex;
  width: 60%;
  align-items: center;
}
#NewGame {
  height: 100px;
  text-align: center;
  color: white;
  border-color: white;
}
button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
#status {
  width: 100px;
  height: 100px;
  color: white;
}
.container {
  width: 500px;
  height: 500px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cell {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  background-image: url(../images/shell.png);
  cursor: pointer;
}
.nemo {
  background-image: url(../images/nemo.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.dolly {
  background-image: url(../images/dolly.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 1024px) {
  body {
    background-image: url(../images/ocean_world_768x1024.png);
  }
  button img {
    width: 80%;
    height: 80%;
  }
  .container {
    width: 300px;
    height: 300px;
    margin-top: 10%;
  }
  .cell {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
    background-size: 100% 100%;
  }
}
